
 body{
     font-family: 'Lato', sans-serif;
     font-family: "Open Sans",
     sans-serif;

 }
    
.header-info{
    margin-bottom: 130px;
    width: 1150px;
}


.bannar-container{
    background-image: url('../images/banner/banner1.png');
    background-size: cover;
    background-repeat: no-repeat;
     height: 500px;
   
}
.btn-primary{
    background-color: orangered;
    border: 0;
    border-radius: 5px;
    color: #fff;
    padding: 15px 35px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
    
}
.btn-primary:hover{
    background-color: rgb(255, 123, 0);
     cursor: pointer;
    
}
.bannar-information{
 width: 270px;
 text-align: right;
 margin-left
 : 500px;
 padding: 120px ;
}
.banner-title{
   font-size: 30px;
   font-weight: 800;
   margin-bottom: 5px;
}
.banner-description{
    width: auto;
    font-size: 12px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px;
    
}
/*failurs sectionn style.. */
main section{
    margin-bottom: 130px;
    width: 1150px;
}
.failurs-container{
    display: flex;
    justify-content: space-around;
     padding: 100px 130px 100px 130px;
}

img{
    width: 100%;

}
.My-failures-information{
    padding:100px;
    width: 200px;
    margin-top: 180px;
    width: 50%;
}
.failurs-title{
    font-size: 20px;
    font-weight: 800;

}
.failurs-description{
    color: grey;
    font-size: 12px;
    text-align: justify;
    margin-bottom: 10px;
}
.chack-list ul{
    list-style: none;
    width: 200px;
    margin-top: 0px;

}
ul li span{
  font-size: 10px;
  margin-top: 5px;

}
